<nav class="navbar">

    <div class="logo">

        <a href="../index.html">
            M365 Governance Portal
        </a>

    </div>

    <div class="nav-links">

        <a href="../azure-naming-generator/index.html">
            Azure
        </a>

        <a href="../m365-license-analyzer/index.html">
            M365
        </a>

        <a href="../exchange-mailflow-analyzer/index.html">
            Exchange
        </a>

        <a href="../sharepoint-guest-access-auditor/index.html">
            SharePoint
        </a>

    </div>

    <button id="themeToggle">
        🌙
    </button>

</nav>